/* Edited by 24majed: fixed full screen canvas */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #333;
}

canvas {
    display: block;
    background-color: #fff;
    border: 2px solid #000;
}
